* { margin:0; padding:0; box-sizing:border-box; 
}

  body { 
    background-color: #257A7A;
  background-image: url("images/interiors.png"); 
    background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 100%; 
  
  }

section#mainContent {
  background:#E91E63;
}
 
  
}
h3.ontop {
  position: relative;
  top: 4.7em;
}

ul {
    float: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    float: left;
    width: 6em;
    text-decoration: none;
    color: white;
    background-color: gray;
    padding: 0.2em 0.6em;
    border-right: 1px solid white;
}

a:hover {
    background-color: black;
}

li {
    display: inline;
}
a.ontop {
  position: relative;
  top: 4.7em;
}


h1 {
    color:white;
    font-family: Raleway, sans-serif;
    font-size:300%;
}
h3 {
    color:white;
    font-family:Open Sans,sans-serif;
    font-weight: bold;
    font-size:150%;
}
p  {
    color:white;
    font-family:Open Sans,
 sans-serif;
    font-size:100%;
}
ul {color:white;
    font-family:Open Sans,san-serif;
    font-size:100%;
}
a {color:white;
    font-family:Open Sans, sans-serif;
    font-size:100%;
}

.columns {
  float:left;
  padding:0 1em;
  width:33.33%